/**RESPONSIVE DISGN TABLET */

@media screen and (min-width:769px){
  
  .content-imagenes{
    opacity: 0.4;
    }
    
  .item-virtual{
    width: 97px;
    height: 86px;
  }
    
  .item-pago{
    width: 86px;
    height: 86px;
  }
    
  .item-rapido{
    width: 67px;
    height: 86px;
  } 

  hr{
  width: 120px;
  height: 5px;
  background: #C4C4C4;
  }

  .content-logo{
    width: 580px;
    height: 208px;
    /**overflow trata el excedente de imagen */
    /* margin: auto; */
    position: relative;
    top: 150px;

  }




  .content-edificios{
    width: 100%;
    height: 250px;
    position: fixed;
    bottom: 40px;
  }
  
  .edificio{
    width: 100%;
    height: 250px;
    /* opacity: 0.4; */
  }

  .content-derechos--size{
    height: 40px;
  }

  .derechos--font-zise{
    font-size: 16px;

  }

  .modal-wrap--position {
    top: 10%;
    
  }

  .content-redes{
    position: fixed;
    bottom: 70px;
    right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 11;
  }
  
  .content-redes a{
  margin-top: 4px;
  }
  
  .redes{
    width: 60px;
    height: 60px;
  } 
}

/**RESPONSIVE DISGN DESKTOP */
@media screen and (min-width:1024px){

  hr{
  width: 150px;
  height: 7px;
  background: #C4C4C4;
  }

  .content-logo{
    width: 580px;
    height: 208px;
    /**overflow trata el excedente de imagen */
    /* margin: auto; */
    position: relative;
    top: 5px;

  }

  .content-btn{
    position: absolute;
    left: 45%;
    top: 52%;
  }

  .mi-img{
    height: 86px;
  }

  .content-edificios{
    display: flex;
    height: 300px;
    position: fixed;
    bottom: 40px;
  }

  .edificio{
    width: 50%;
    height: 100%;
  }

  
}