/**RESPONSIVE DISGN TABLET */

@media screen and (min-width:768px){
  
  .content-imagenes{
    opacity: 0.4;
    }
    
  .item-virtual{
    width: 97px;
    height: 86px;
  }
    
  .item-pago{
    width: 86px;
    height: 86px;
  }
    
  .item-rapido{
    width: 67px;
    height: 86px;
  } 

  hr{
  width: 120px;
  height: 5px;
  background: #C4C4C4;
  }

  .content-edificios{
    display: flex;
    height: 250px;
    position: fixed;
    bottom: 28px;
  }

  .edificio{
    width: 50%;
    height: 100%;
  }


}

/**RESPONSIVE DISGN DESKTOP */
@media screen and (min-width:1024px){

  hr{
  width: 150px;
  height: 7px;
  background: #C4C4C4;
  }

  .content-logo{
    width: 559px;
    height: 201px;
    /**overflow trata el excedente de imagen */
    margin: auto;  
  }

  .content-btn{
    position: absolute;
    left: 45%;
    top: 55%;
  }

  .mi-img{
    height: 86px;
  }

  
}