body{
  background: #57958F;
  min-height: 100vh;
}

/**IMAGENES TOP*/
.content-imagenes{
opacity: 0.4;
}
.item-virtual{
  width: 35px;
  height: 31px;
}

.item-pago{

  width: 31px;
  height: 31px;
  
}

.item-rapido{
  width: 24px;
  height: 31px;
}
/***MUY PRONTO*/
hr{
  width: 85px;
  height: 3px;
  background: #C4C4C4;
}

/**LOGO*/
.content-logo{
    width: 309px;
    height: 111px;
    /**overflow trata el excedente de imagen */
    margin: auto;
    margin-top: 5em;  
}

.logo{
  width: 100%;
  height: 100%;
  display: block;
}

.content-edificios{
  width: 100%;
  height: 188px;
  position: fixed;
  bottom: 25px;
}

.edificio{
  width: 100%;
  height: 188px;
  /* opacity: 0.4; */
}

.content-btn{
  position: absolute;
  /* left: 35%;
  top: 39%; */
  left: 34%;
  top: 35%;
}

.btn{
  background: #6AD77B;
  border: none;
  cursor: pointer;
  z-index: 11;
  
}


.content-derechos{
  width: 100%;
  height: 25px;
  position: fixed;
  bottom: 0px;
  background: #6AD77B;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.derechos{
  font-size: 10px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
}

/* .contacto{
  width: 20px;
  height: 20px;
} */

.modal-wrap {
  background: #6AD77B;
  position: fixed;
  left: 10%;
  right: 10%;
  top: 3%;
  
}

.frame{
  border: none;
  width:100%;
  height:550px;
}

/** REDES SOCIALES */

.content-redes{
  position: fixed;
  bottom: 30px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 11;
}

.content-redes a{
margin-top: 1px;
}

.redes{
  width: 40px;
  height: 40px;
} 

/* @media only screen and (max-height:600px){ */

/* .test{
  background-color: red;
} */
/* } */ 

@media (orientation:landscape) and (max-width:768px)
{

  .test{
    background-color: red;
  }
  .content-pronto{
    position: relative;
  }

  .pronto{

    position: absolute;
    top: -100px;
    
  }

  .content-btn{
    position: absolute;
    /* left: 35%;
    top: 39%; */
    left: 34%;
    top: 65%;
  }

  .frame{
    border: none;
    width:100%;
    height:300px;
  }

  .content-logo {
    width: 309px;
    height: 113px;
    margin: auto;
    margin-top: 4em;
}


}
