body{
  background: #57958F;
  height: 100vh;
}

hr{
  width: 85px;
  height: 3px;
  background: #C4C4C4;
}

.content-logo{
    width: 309px;
    height: 111px;
    /**overflow trata el excedente de imagen */
    margin: auto;  
}

.logo{
  width: 100%;
  height: 100%;
}

.btn{
  background: #6AD77B;
  border: none;
  cursor: pointer;
}

.content-edificios{
  width: 100%;
  height: 140px;
  bottom: 36px;
  position: fixed;
}

.edificio{
  width: 100%;
  height: 100%;
}


.contactos{
  width: 100%;
  height: 40px;
  bottom: 0;
  position: fixed;
  background: #6AD77B;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.contacto{
  width: 20px;
  height: 20px;
}

.modal-wrap {
  background: white;
  position: fixed;
  top: 30%;
}